.admin-table {
    margin-top: 17px;
    border-radius: 2px;
    background-color: #ffffff;
    overflow-x: auto;
    @include list-scroll;
}

.admin-table__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 144px 17px 67px;
    position: relative;
    min-width: 640px;

    &.row-title {
        background-color: #e8e8e852;
    }
}

.admin-table__checkbox {
    height: 19px;
    position: absolute;
    left: 13px;
}

.admin-table__first {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
    width: 190px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    span {
        display: flex;
        align-items: center;
        margin-right: 8px;

        img {
            padding-right: 8px;
        }
    }
}

.admin-table__two {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
    width: 200px;
    text-align: center;
    justify-content: center;
    display: flex;

    span {
        display: flex;
        align-items: center;

        img {
            margin-right: 7px;
        }
    }
}



.admin-table__three {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
    width: 180px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    img {
        margin: 0 10px;
    }
}

.table-edit {
    position: absolute;
    right: 15px;
    width: 21px;
    height: 21px;
    border-radius: 2px;
    background-color: #f3f3f3;

    &::before {
        position: absolute;
        content: url('../img/draw.png');
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.table-link {
    position: absolute;
    right: 45px;
    width: 21px;
    height: 21px;
    border-radius: 2px;
    background-color: #f3f3f3;

    &::before {
        position: absolute;
        content: url('../img/link.png');
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}