.control {
    position: relative;
    padding-left: 28px;
    margin-left: auto;
    margin-right: 17px;
    position: relative;
    cursor: pointer;
    &::before {
        position: absolute;
        content: url('../img/preferences.png');
        left: 0;
        top: 0;
    }
}

.control-user {
    margin-left: 22px;
}

.control__title {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.control__list {
    position: absolute;
    min-width: 230px;
    box-shadow: 0 2px 2px rgba(0, 1, 2, 0.06);
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    padding: 0 9px;
    z-index: 200;
    top: 38px;
    left: 0;
    display: none;
}

.control__item {
    padding: 13px 0;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding-left: 25px;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    text-align: left;
    display: block;
    position: relative;
    &:hover {
        text-shadow: 0.5px 0 0 currentColor;
    }
    &::before {
        position: absolute;
        left: 0;
    }
}

.change-min-sum {
    &::before {
        content: url('../img/change-min-sum.png');
        top: 13px;
        left: 4px;
    }
}

.change-max-sum {
    &::before {
        content: url('../img/change-max-sum.png');
        top: 13px;
        left: 4px;
    }
}

.change-reserve {
    &::before {
        content: url('../img/change-reserve.svg');
        top: 14px;
        left: 4px;
    }
}

.change-status {
    &::before {
        content: url('../img/change-status.png');
        top: 14px;
        left: 4px;
    }
}

.block-ref {
    &::before {
        content: url('../img/block-ref.png');
        top: 14px;
        left: 4px;
    }
}

.change-label {
    &::before {
        content: url('../img/change-label.svg');
        
    }
}

.change-commission {
    &::before {
        content: url('../img/change-commission.png');
        top: 14px;
        left: 4px;
    }
}

.change-verification {
    &::before {
        content: url('../img/change-verification.png');
        top: 14px;
        left: 4px;
    }
}

.change-merchant {
    &::before {
        content: url('../img/change-merchant.png');
        top: 14px;
        left: 4px;
    }
}

.change-descr {
    &::before {
        content: url('../img/change-descr.png');
        top: 14px;
        left: 4px;
    }
}

.change-field {
    &::before {
        content: url('../img/change-field.png');
        top: 12px;
        left: 4px;
    }
}

.activate {
    &::before {
        content: url('../img/activate.svg');
    }
}

.deactivate {
    &::before {
        content: url('../img/deactivate.svg');
    }
}

.remove {
    &::before {
        content: url('../img/remove.svg');
        left: 6px;
    }
}