.footer {
    margin-top: auto;
    background-color: #222332;
    border-top: 4px solid rgba(#9e199c, .75);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 18px;

    position: relative;

    &::before {
        content: '';
        height: 1px;
        background-color: #a10175;

        position: absolute;
        top: 50%;
        left: 295px;
        right: 189px;
        transform: translateY(-50%);
    }
}

.header__copy {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.41px;
}