@media(max-width:1270px) {
    .partners__item {
        width: calc(100% / 4 - 8px);
    }
}

@media (max-width: 1250px) {
    .custum-check-v2 {
        width: 49%;
    }

    .modal-add__bottom {
        width: 100%;
    }

    .user__table {
        .admin-table__row {
            padding: 17px 60px 17px 30px;
        }
    }

    .user-page-v2 .admin-table__row {
        padding: 17px 20px 17px 20px;
    }

    .admin-trans .admin-table__row {
        padding: 17px 15px 17px 15px;
    }

}

@media (max-width: 1170px) {
    .replenish__block {
        width: 100%;
    }

    .currencies__top {
        flex-wrap: wrap;

        .search-block {
            width: 100%;
            order: 4;
            margin-top: 15px;
            margin-left: auto;
        }
    }

    .user-page-v2 {
        .search-block {
            width: auto;
            order: 2;
            margin-top: 0;
            margin-left: 0;
        }

        .create-account {
            order: 3;
        }
    }

    .header__nav-link {
        font-size: 14px;
    }

    .header__nav-item {
        margin: 0 25px;
    }

    .header__logo {
        font-size: 23px;
    }

    .header__icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .main__btn--header {
        width: 233px;
        height: 32px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        line-height: 32px;

        &::before {
            top: 6px;
        }
    }
}

@media (max-width: 1030px) {
    .header-admin__left {
        min-width: 200px;
        width: 200px;
    }

    .header-admin__logo {
        font-size: 23px;
    }

    .nav {
        min-width: 201px;
        width: 200px;
    }

    .page-content {
        padding-left: 220px;
    }

    .sample-popup__inner {
        width: calc(100vw - 42px);
    }

    .sample-popup__bottom {
        padding: 20px 21px 28px 21px;
    }

}

@media (max-width: 940px) {
    .header__inner {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        background-color: #222332;
        padding: 15px;
    }

    .nav {
        position: fixed;
        left: 0;
        transform: translateX(-100%);
        top: 56px;
        transition: all .3s;
        width: 70%;
        padding: 10px 20px;
        height: 100vh;

        &.active {
            transform: translateX(0);
        }
    }

    .header__nav {
        position: absolute;
        left: 0;
        top: 61px;
        z-index: 100;

        align-items: flex-start;
        width: auto;
        height: calc(100vh - 60px);
        background-color: #ffffff;
        padding: 10px 20px 30px;
        flex-direction: column;

        transform: translateX(-100%);
        transition: all .3s;

        &.active {
            transform: translateX(0);
        }
    }

    .header__nav-list {
        flex-direction: column;
        align-items: flex-start;

    }

    .header__nav-item {
        margin: 25px 0 25px 20px;

    }

    .header__nav-link {
        font-size: 16px;
        color: #000;

        &:hover {
            color: #000;
        }
    }

    .burger {
        display: block;
    }

    .header-admin {
        height: inherit;
        flex-wrap: wrap;
        max-height: inherit;

        .burger {
            display: block;
        }
    }

    .header-admin__left {
        width: 100%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-admin__static {
        padding: 8px 15px;
    }

    .header-admin__static img {
        width: 20px;
        height: 20px;
    }

    .header-admin__static>span {
        font-size: 16px;
    }

    .header-admin__static--date span {
        font-size: 14px;
    }

    .header-admin__logo::before {
        top: 1px;
    }

    .page-content {
        padding: 25px 15px;
    }

    .header-admin__static {
        height: inherit;
    }

    .header-admin {
        border-bottom: none;
    }

    .payment__item1,
    .payment__item2,
    .payment__item3 {
        min-width: 215px;
    }

    .payment__titles {
        padding-right: 145px;
    }

    .payment__list {
        min-width: 810px;
    }

    .sample__item2 {
        min-width: 140px;
    }

    .sample__item3 {
        min-width: 165px;
    }

    .sample__item4 {
        min-width: 120px;
    }

    .sample__item5 {
        min-width: 130px;
    }

    .direction__table .admin-table__row {
        padding: 17px 90px 17px 40px;
    }

    .partners__item {
        width: calc(100% / 3 - 8px);
    }
}

@media(max-width:767px) {
    .list__item3 {
        min-width: 400px;
    }

    .custum-check-v2 {
        width: 100%;
    }

    .modal-add__bottom.mrg-left {
        margin-top: 20px;
    }

    .modal-add__bottom {
        padding: 10px;
    }

    .modal-add .tab-link-wrapper {
        margin-top: 20px;
    }

    .input-wrap {
        padding-bottom: 0;
    }

    .admin-table__row {
        padding: 17px 60px 17px 60px;
    }

    .arbitrary-payment__item1 {
        width: 100%;
        max-width: 350px;
        margin-bottom: 24px;
        margin-right: 0;
    }

    .arbitrary-payment__item {
        width: 100%;
        max-width: 350px;
        margin-bottom: 24px;
        margin-right: 0;
    }

    .arbitrary-payment__form {
        flex-direction: column;
        align-items: center;
    }

    .arbitrary-payment__form {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }

    .arbitrary-payment__item2 {
        max-width: 100%;
        padding-right: 17px;
        margin-bottom: 0;
    }

    .arbitrary-payment__select {
        width: 100%;
    }

    .arbitrary-payment__btn {
        width: 100%;
        max-width: 350px;
    }

    .pc-profile__wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .pc-profile__info {
        margin-left: 0;
        margin-top: 20px;
    }

    .pc-profile__group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .pc-profile__input {
        margin-right: 0;

        &--password {
            width: 100%;
        }
    }

    .pc-profile__password {
        flex-direction: column;
        text-align: center;
        width: 100%;
        max-width: 369px;
        text-align: center;
    }

    .pc-profile__password-title {
        margin: 10px auto 0 auto;
    }

    .pc-profile__password-main {
        max-width: 369px;
        width: 100%;
        text-align: center;
    }

    .pc-profile__btn {
        display: block;
        margin: 0 auto;
    }

    .pc-profile__info {
        font-size: 14px;
    }

    .user-page {
        .user-page__title {
            width: 100%;
            margin-bottom: 10px;
        }

        .statistics {
            margin-left: 0;
        }
    }

    .add-template__wrapper {
        flex-direction: column;
        padding-bottom: 0;
    }

    .add-template__input {
        width: 100%;
        margin-bottom: 20px;
    }

    .add-template__input span {
        text-align: left;
        margin-bottom: 10px;
    }

    .user-page-v2 {
        .search-block {
            width: 100%;
            flex-wrap: wrap;
        }

        .create-account {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    .user-page-v2 .search-block span {
        width: 100%;
        padding-bottom: 10px;
    }

    .admin-trans__wrap {
        flex-direction: column;
    }

    .admin-trans__wrap .filter-wrapper {
        margin-left: 0;
        margin: 20px 0 10px 0;
    }

    .partners__inner {
        background-color: #ffffff;
        padding: 20px 5px 16px;
    }

    .title-main {
        &::before {
            width: 19px;
            height: 3px;
            left: -4px;
        }

        &::after {
            width: 19px;
            height: 3px;
            right: -4px;
        }

        &.fz27 {
            font-size: 19px;
        }
    }

    .benefits__list {
        flex-wrap: wrap;
    }

    .benefits__item {
        width: 100%;
        margin: 10px 0;
    }

    .benefits__info-title {
        font-size: 16px;
    }

    .benefits__info-text {
        font-size: 14px;
    }

    .benefits__num {
        margin-right: 10px;
        min-width: 17px;
        height: 26px;
    }

    .main__btn--logo {
        width: 233px;
        height: 32px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        line-height: 32px;

        &::before {
            top: 6px;
        }
    }

    .main__btn-arrow-left,
    .main__btn-arrow-right {
        width: 30px;
    }

    .main__btn-arrow-left {
        left: -50px;
    }

    .main__btn-arrow-right {
        right: -50px;
    }
}

@media(max-width:667px) {
    .partners__item {
        width: calc(100% / 2 - 8px);
    }
}

@media(max-width:524px) {
    .partners__item {
        width: calc(100% - 8px);
    }
}

@media(max-width:574px) {
    .filter-wrapper {
        flex-wrap: wrap;
    }

    .sample__form {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }

    .modal-add__input {
        width: 100%;
    }

    .modal-add {
        padding: 15px;
    }

    .modal-add__bottom--wrap {
        flex-direction: column;
    }

    .modal-add__bottom--btn {
        margin-top: 20px;
    }

    .modal-add .tab {
        margin-right: 10px;
    }

    .currencies__title {
        width: 100%;
        margin-bottom: 15px;
    }

    .currencies__top {
        .control {
            margin-left: 0;
        }
    }

    .user-page {
        .control-user {
            margin-left: 20px;
        }
    }

    .admin-trans .search-block {
        flex-wrap: wrap;

        span {
            width: 100%;
            padding-bottom: 10px;
        }
    }
}

@media (max-width: 480px) {
    .tab-link-wrapper {
        flex-direction: column;
    }

    .replenish .tab {
        width: 100%;
    }

    .header-admin__static {
        flex-wrap: wrap;
    }

    .header-admin__static--date {
        width: 100%;
        text-align: left;
        margin-top: 8px;
    }

    .sample-popup__box {
        flex-direction: column;
    }

    .sample-popup__item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .sample-popup__item1,
    .sample-popup__item2,
    .sample-popup__item3 {
        width: 100%;
    }

    .output-create {
        padding: 21px 10px 15px;
    }

    .page-content__box {
        margin: 0;
    }

    .output-create__item {
        width: 100%;
        padding: 0;
    }

    .modal-add {
        padding-top: 35px;
        margin: 0 -15px;
        width: auto;
    }

    .modal-add__closed {
        right: 10px;
        top: 10px;
    }

    .user-page {
        .statistics {
            width: 100%;
        }

        .control-user {
            margin-left: 0;
            margin-top: 10px;
        }
    }

    .admin-trans__filter {
        justify-content: space-between;

        .select-defolt {
            width: 48%;
            margin: 0 !important;
        }
    }

    .main__btn-arrow-left,
    .main__btn-arrow-right {
        display: none;
    }

    .header__copy {
        font-size: 10px;
    }
}