@media (max-width: 1250px) {
    .custum-check-v2 {
        width: 49%;
    }

    .modal-add__bottom {
        width: 100%;
    }
}

@media (max-width: 1170px) {
    .replenish__block {
        width: 100%;
    }

    .currencies__top {
        flex-wrap: wrap;

        .search-block {
            width: 100%;
            order: 4;
            margin-top: 15px;
            margin-left: auto;
        }
    }
}

@media (max-width: 1030px) {
    .header-admin__left {
        min-width: 200px;
        width: 200px;
    }

    .header-admin__logo {
        font-size: 23px;
    }

    .nav {
        min-width: 201px;
        width: 200px;
    }

    .page-content {
        padding-left: 220px;
    }

    .sample-popup__inner {
        width: calc(100vw - 42px);
    }

    .sample-popup__bottom {
        padding: 20px 21px 28px 21px;
    }

}

@media (max-width: 940px) {
    .nav {
        position: fixed;
        left: 0;
        transform: translateX(-100%);
        top: 56px;
        transition: all .3s;
        width: 70%;
        padding: 10px 20px;
        height: 100vh;

        &.active {
            transform: translateX(0);
        }
    }

    .header-admin {
        height: inherit;
        flex-wrap: wrap;
        max-height: inherit;

        .burger {
            display: block;
        }
    }

    .header-admin__left {
        width: 100%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-admin__static {
        padding: 8px 15px;
    }

    .header-admin__static img {
        width: 20px;
        height: 20px;
    }

    .header-admin__static>span {
        font-size: 16px;
    }

    .header-admin__static--date span {
        font-size: 14px;
    }

    .header-admin__logo::before {
        top: 1px;
    }

    .page-content {
        padding: 25px 15px;
    }

    .header-admin__static {
        height: inherit;
    }

    .header-admin {
        border-bottom: none;
    }

    .payment__item1,
    .payment__item2,
    .payment__item3 {
        min-width: 215px;
    }

    .payment__titles {
        padding-right: 145px;
    }

    .payment__list {
        min-width: 810px;
    }

    .sample__item2 {
        min-width: 140px;
    }

    .sample__item3 {
        min-width: 165px;
    }

    .sample__item4 {
        min-width: 120px;
    }

    .sample__item5 {
        min-width: 130px;
    }

    .direction__table .admin-table__row {
        padding: 17px 90px 17px 40px;
    }
}

@media(max-width:767px) {
    .list__item3 {
        min-width: 400px;
    }

    .arbitrary-payment__form {
        flex-direction: column;
        align-items: flex-start;

        .custum-check-v2 {
            width: 100%;
        }

        .modal-add__bottom.mrg-left {
            margin-top: 20px;
        }

        .modal-add__bottom {
            padding: 10px;
        }

        .modal-add .tab-link-wrapper {
            margin-top: 20px;
        }

        .input-wrap {
            padding-bottom: 0;
        }

        .admin-table__row {
            padding: 17px 60px 17px 60px;
        }
    }
}

@media(max-width:574px) {
    .filter-wrapper {
        flex-wrap: wrap;
    }

    .sample__form {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }

    .modal-add__input {
        width: 100%;
    }

    .modal-add {
        padding: 15px;
    }

    .modal-add__bottom--wrap {
        flex-direction: column;
    }

    .modal-add__bottom--btn {
        margin-top: 20px;
    }

    .modal-add .tab {
        margin-right: 10px;
    }

    .currencies__title {
        width: 100%;
        margin-bottom: 15px;
    }

    .currencies__top {
        .control {
            margin-left: 0;
        }
    }
}

@media (max-width: 480px) {
    .tab-link-wrapper {
        flex-direction: column;
    }

    .replenish .tab {
        width: 100%;
    }

    .header-admin__static {
        flex-wrap: wrap;
    }

    .header-admin__static--date {
        width: 100%;
        text-align: left;
        margin-top: 8px;
    }

    .sample-popup__box {
        flex-direction: column;
    }

    .sample-popup__item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .sample-popup__item1,
    .sample-popup__item2,
    .sample-popup__item3 {
        width: 100%;
    }

    .output-create {
        padding: 21px 10px 15px;
    }

    .page-content__box {
        margin: 0;
    }

    .output-create__item {
        width: 100%;
        padding: 0;
    }

    .modal-add {
        padding-top: 35px;
        margin: 0 -15px;
        width: auto;
    }

    .modal-add__closed {
        right: 10px;
        top: 10px;
    }
}