.nav {
    min-width: 267px;
    width: 267px;
    padding: 10px 23px;
    border-right: 1px solid #e8e8e8;
    height: calc(100vh - 65px);
    background-color: #fff;
    position: fixed;
    top: 64px;
    z-index: 200;
    overflow-y: auto;
    @include scroll-hide;
}


.nav__item {
    &:last-child {
        .nav__link {
            border-bottom: none;
        }
    }
}

.nav__link {
    padding: 15px 0;
    display: block;
    color: #222332;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    border-bottom: 1px solid #f7f3f3;
    transition: all .3s;
    cursor: pointer;
    &:hover {
        transform: translateX(5px);
        text-shadow: .5px 0 0 currentColor;
    }
}

.nav__link--active {
    position: relative;
    &:hover {
        &::before {
            transform: translateY(-50%) translateX(-5px);
        }
    }
    &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 18px;
        background-color: #222332;
        right: -23px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s;
    }
}

.submenu {
    padding-left: 36px;
    margin-top: 10px;
    display: none;
}

.submenu__item {
    margin-bottom: 20px;
}


.submenu__link {
    color: #222332;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    &:hover {
        &::before {
            transform: scale(1.5);
        }
    }
    &::before {
        position: absolute;
        content: '';
        width: 9px;
        height: 9px;
        background-color: #e8e8e8;
        border-radius: 50%;
        left: -23px;
        top: 7px;
        transition: all .3s;
    }
}

.submenu__link--active {
    &::before {
        background-color: #222332;
    }
}