.output-section {
    display: flex;
    flex-direction: column;

    .fast-select {
        width: 135px;
    }
}

.output__top {
    margin-bottom: 18px;
}


.output__bottom {
    display: flex;
    justify-content: center;
    margin-top: auto;
}