.fast-output {
    .payment__input {
        margin-right: 0;
    }

    .currencies__filter {
        margin-top: 0;

        @media(max-width:722px) {
            margin-bottom: 15px;
        }

        @media(max-width:464px) {
            flex-wrap: wrap;
        }
    }

    .arbitrary-payment__list4 {
        @media(max-width:767px) {
            min-width: 250px;
        }
    }

    .search-block__btn {
        margin-right: 15px;

        @media(max-width:442px) {
            margin-right: 0;
        }
    }
}

.fast-output__top {
    background-color: #fff;
    padding: 15px 20px 25px;
    margin-bottom: 35px;

    @media(max-width:767px) {
        padding: 10px 5px 15px;

    }
}

.fast-output__title {
    text-align: center;
    margin-bottom: 20px;
}

.fast-output__form {
    border-top: 2px solid #f7f3f3;
}

.fast-output__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 15px 0 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f7f3f3;


    @media(max-width:767px) {
        flex-direction: column;
        align-items: center;
    }
}

.fast-output__item {
    width: 45%;
    margin-bottom: 25px;

    @media(max-width:767px) {
        width: 100%;
        max-width: 400px;
    }
}

.fast-output__text {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.41px;
    margin-bottom: 15px;
}

.fast-output-box {
    display: flex;
    width: 100%;
}

.fast-output-select {
    min-width: 95px;
    height: 37px;
    padding-left: 5px;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    border-right: none;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.41px;
}

.fast-output-select-wrap {
    position: relative;

    &::before {
        position: absolute;
        content: url(../img/arrow-select.png);
        right: 10px;
        top: 10px;
        pointer-events: none;
    }
}


.page-content__btn {
    width: 188px;
    height: 38px;
    display: block;
    margin: 0 auto;
}

.fast-select {
    @media(max-width:443px) {
        margin-top: 15px;
    }
}

.fast-output__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    margin-bottom: 25px;

    @media(max-width:722px) {
        flex-direction: column;
        align-items: flex-start;
        padding-right: 0;
    }
}