<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo">
                <img class="header__icon" src="img/logo.png" alt="">
                apipay.is
            </a>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">О нас </a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">API документация</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">Контакты</a>
                    </li>
                </ul>
                <button class="main__btn main__btn--header">Авторизация</button>
            </nav>
            <div class="burger burger--main">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

</header>

<div class="navigation">
    <a class="navigation__link" href="admin-currencies.html">admin-currencies</a>
    <a class="navigation__link" href="admin-direction.html">admin-direction</a>
    <a class="navigation__link" href="admin-transactions.html">admin-transactions</a>
    <a class="navigation__link" href="admin-users.html">admin-users</a>
    <a class="navigation__link" href="admin.html">admin</a>
    <a class="navigation__link" href="arbitrary-payment-link.html">arbitrary-payment-link</a>
    <a class="navigation__link" href="arbitrary-payment.html">arbitrary-payment</a>
    <a class="navigation__link" href="discount.html">discount</a>
    <a class="navigation__link" href="output-create.html">output-create</a>
    <a class="navigation__link" href="output.html">output</a>
    <a class="navigation__link" href="payment.html">payment</a>
    <a class="navigation__link" href="pc-profile.html">pc-profile</a>
    <a class="navigation__link" href="personal-area.html">personal-area</a>
    <a class="navigation__link" href="sample.html">sample</a>
    <a class="navigation__link" href="user-page.html">user-page</a>
    <a class="navigation__link" href="pc-transactions.html">pc-transactions</a>
    <a class="navigation__link" href="index.html">главная</a>
</div>